<div class="container-fluid">
  <div class="container pt-5">
    <img class="logo mx-auto d-block " src="..\assets\images\logo.png" alt="logo">
    <br>
    <h1 style="text-align: center"><b>LOGIN</b></h1>
    <div class="row mt-5" >
      <div class="col col-md-6">
       
        <div class="card text-center bg-light mb-3" >
            <img class="card-img-top mx-auto mt-3 d-block" src="..\assets\images\admin.svg" alt="admin">
            <div class="card-body">
              <h5 class="card-title">ADMIN</h5>
              <p class="card-text">To Create your own Quiz.<br> Login as Admin</p>
              <a routerLink="/admin-login" class="btn btn-primary" >Login</a>
            </div>
          </div></div>
        <div class="col col-md-6">
          <div class="card text-center bg-light mb-3" >
              <img class="card-img-top mx-auto mt-3 d-block" src="..\assets\images\student.svg" alt="student">
              <div class="card-body">
                <h5 class="card-title">STUDENT</h5>
                <p class="card-text">To Solve Quiz.<br> Login as Student</p>
                <a routerLink="/student-login" class="btn btn-primary" >Login</a>
              </div>
            </div>
        
      </div>
    </div>

  </div>
</div>

<app-footer></app-footer>