<div class="container-fluid">
<app-navbar></app-navbar>
<div class="row">
        <div class="col-12">
      <div class="main container rounded " >
        <ul class="nav nav-tabs " role="tablist">
          <li class="nav-item" style="width:50%">
            <a class="nav-link active" data-toggle="tab" href="#signIn">SignIn</a>
          </li>
          <li class="nav-item"  style="width:50%">
            <a class="nav-link"  data-toggle="tab" href="#signUp">SignUp</a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="signIn" class="tabs container tab-pane active text-center">
            <form class="py-5">
              <input type="email" class="form-control mb-3" name="email" val="" placeholder="Email"  [(ngModel)]="email" #Email="ngModel" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" #signInEmail>
              <input type="password" class="form-control mb-3" name="password" val="" placeholder="Password" [(ngModel)]="password" #Password="ngModel" required  pattern="[a-zA-Z0-9@_-]{6,}$"#signInPassword>
              <a href="#" >Forget Password?</a>
              <button type="button"  class="btn btn-primary btn-lg d-block w-100 mt-4"  (click)="onSignIn(signInEmail,signInPassword)">Sign In</button> 
            </form> 
          </div>
          <div id="signUp" class=" tabs container tab-pane fade  text-center">
              <form class="py-5">
                  <input type="text" class="form-control mb-3" name="name" val="" placeholder="Name" required [(ngModel)]="name" #Name="ngModel"  pattern="[a-zA-Z]*$" #signUpName>
                  <input type="email" class="form-control mb-3" name="email" val="" placeholder="Email" [(ngModel)]="signUpEmail" #Email="ngModel" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"#signUpemail>
                  <input type="password" class="form-control mb-3" name="password" val="" placeholder="Password" [(ngModel)]="signUpPassword" #Password="ngModel" required  pattern="[a-zA-Z0-9@_-]{6,}$"#signUppass>
                  <input type="password" class="form-control mb-3" name="confirmPassword" val="" placeholder="Confirm Password" [(ngModel)]="confirmPassword" #cPassword="ngModel" required  pattern="[a-zA-Z0-9@_-]{6,}$" #signUpCpass>
                  <a href="#signIn" data-toggle="tab" >Already have account? SignIn</a>
                  <button type="button" class="btn btn-primary btn-lg d-block w-100 mt-4" (click)="onSignUp(signUpName,signUpemail,signUppass,signUpCpass)">Sign Up</button> 
                </form> 
          </div>
        </div>
      </div>
      </div>
      </div>
    </div>   
      
    <app-footer></app-footer>
      